.DS_Store
node_modules/
.gitignore
.elasticbeanstalk/

# local env files
.env
.vercel
/pgdata
.husky/

build/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
