{
  "option_settings": [
    {
      "option_name": "DATABASE_PROD_URL",
      "value": "postgres://full_stack_user:Pass1234@storefront-production-db-instance-1.ctnebqnvkqjx.eu-west-3.rds.amazonaws.com:5432/storefront_production_db"
    },
    {
      "option_name": "ENV",
      "value": "production"
    },
    {
      "option_name": "BCRYPT_PASSWORD",
      "value": "your-secret-password"
    },
    {
      "option_name": "SALT_ROUNDS",
      "value": "10"
    },
    {
      "option_name": "TOKEN_SECRET",
      "value": "supersecret123!"
    },
  ]
}